<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identificacion %>
    <%= form.number_field :identificacion, id: :student_identificacion %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :student_nombre %>
  </div>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.collection_select :institution_id, Institution.order(:nombre), :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :nota9a %>
    <%= form.text_field :nota9a, id: :student_nota9a %>
  </div>

  <div class="field">
    <%= form.label :nota9e %>
    <%= form.text_field :nota9e, id: :student_nota9e %>
  </div>

  <div class="field">
    <%= form.label :nota10a %>
    <%= form.text_field :nota10a, id: :student_nota10a %>
  </div>

  <div class="field">
    <%= form.label :nota10e %>
    <%= form.text_field :nota10e, id: :student_nota10e %>
  </div>

  <div class="field">
    <%= form.label :nota11a %>
    <%= form.text_field :nota11a, id: :student_nota11a %>
  </div>

  <div class="field">
    <%= form.label :nota11e %>
    <%= form.text_field :nota11e, id: :student_nota11e %>
  </div>

  <div class="field">
    <%= form.label :icfes %>
    <%= form.text_field :icfes, id: :student_icfes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
