<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Institution</th>
      <th>Nota9a</th>
      <th>Nota9e</th>
      <th>Nota10a</th>
      <th>Nota10e</th>
      <th>Nota11a</th>
      <th>Nota11e</th>
      <th>Icfes</th>
      <th>Promedio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.identificacion %></td>
        <td><%= student.nombre %></td>
        <td><%= student.institution.nombre %></td>
        <td><%= student.nota9a == nil ? "" : student.nota9a * 20 %></td>
        <td><%= student.nota9e == nil ? "" : student.nota9e * 20 %></td>
        <td><%= student.nota10a == nil ? "" : student.nota10a * 20 %></td>
        <td><%= student.nota10e == nil ? "" : student.nota10e * 20 %></td>
        <td><%= student.nota11a == nil ? "" : student.nota11a * 20 %></td>
        <td><%= student.nota11e == nil ? "" : student.nota11e * 20 %></td>
        <td><%= student.icfes == nil ? "" : student.icfes * 100 %></td>
        <td><%= student.mean == nil ? "" : student.mean.round(2) %></td>
        <td><%= link_to 'Show', institution_student_path(@institution, student) %></td>
        <td><%= link_to 'Edit', edit_institution_student_path(@institution, student) %></td>
        <td><%= link_to 'Delete', institution_student_path(@institution, student), method: :delete, data: { confirm: 'Seguro?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_institution_student_path(@institution) %>