<section id="one" class="wrapper style1" style="background-color:#FFFFFF">
  <div class="inner">

<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacion:</strong>
  <%= @student.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @student.institution_id %>
</p>

<p>
  <strong>Nota9a:</strong>
  <%= @nota9a %>
</p>

<p>
  <strong>Nota9e:</strong>
  <%= @nota9e %>
</p>

<p>
  <strong>Nota10a:</strong>
  <%= @nota10a %>
</p>

<p>
  <strong>Nota10e:</strong>
  <%= @nota10e %>
</p>

<p>
  <strong>Nota11a:</strong>
  <%= @nota11a %>
</p>

<p>
  <strong>Nota11e:</strong>
  <%= @nota11e %>
</p>

<p>
  <strong>Icfes:</strong>
  <%= @student.icfes %>
</p>

<p>
  <strong>Promedio:</strong>
  <%= @student.mean.round(2) %>
</p>

<%= link_to 'Edit', edit_institution_student_path(@student.institution,@student) %> |

<%= link_to 'Back', institution_students_path(@student.institution) %>

  </div>
</section>