<!DOCTYPE html>
<html>
  <head>
    <title>Hackaton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><%= link_to 'BPF', root_path %></h1>
		
		<% if user_signed_in? %>	
	  		Bienvenido <strong><%= current_user.institution.nombre %></strong>
	    	<%= link_to "Logout", destroy_user_session_path, method: :delete %>	    	
	    	<a href="#nav">Menu</a>
		<% elsif admin_signed_in? %>
	  		Logueado como <strong>root</strong>
	  		<%= link_to "Logout", destroy_admin_session_path, method: :delete %>	 
	  		<a href="#nav">Menu</a>
		<% else %>	
	  		<%= link_to "Login user", new_user_session_path , :class => "button alt"%> 
	  		<%= link_to "Login admin", new_admin_session_path , :class => "button alt"%>
		<% end %>

	</header> 	

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<% if admin_signed_in? %>
				<li><%= link_to "Instituciones", institutions_path %></li>
				<li><%= link_to 'Estadísticas', home_statistics_path %></li>
			<% elsif user_signed_in? %>
				<li><%= link_to "Estudiantes", institution_students_path(current_user.institution) %></li>
	    	<% end %>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<i class="icon fa-pagelines "></i>
		<h2>Becas Para el Futuro</h2>
		<p>Ministerio de Educación Nacional de Colombia</p>
		<ul class="actions">
			<li><a href="#" class="button big special">Conoce más</a></li>
		</ul>
	</section>
    
    <%= yield %>

    <!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook">
					<span class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter">
					<span class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram">
					<span class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin">
					<span class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; SubmergedFish.</li>
				<li>UI/UX: Ardila K.</li>
				<li>Front End: Simancas A.</li>
				<li>Back End: Méndez D.</li>
				<li>Back End: Benavides C.</li>
			</ul>
		</div>
	</footer>
  </body>
</html>
